/.tmp/
/dist/
/.vs/
/out/
/build*/
/package/
/vcpkg_installed/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

*.exp
*.iobj
*.ipdb
*.lib
*.obj
*.pch
*.recipe
*.sln
*.tlog
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
